In [8]:
import pandas as pd

df = pd.read_csv('cardiovascular_risk_data.csv')

#print(df.tail(3))

In [9]:
print(df)

        id  age  education sex is_smoking  cigsPerDay  BPMeds  \
0        0   64        2.0   F        YES         3.0     0.0
1        1   36        4.0   M         NO         0.0     0.0
2        2   46        1.0   F        YES        10.0     0.0
3        3   50        1.0   M        YES        20.0     0.0
4        4   64        1.0   F        YES        30.0     0.0
...    ...  ...        ...  ..        ...         ...     ...
3385  3385   60        1.0   F         NO         0.0     0.0
3386  3386   46        1.0   F         NO         0.0     0.0
3387  3387   44        3.0   M        YES         3.0     0.0
3388  3388   60        1.0   M         NO         0.0     NaN
3389  3389   54        3.0   F         NO         0.0     0.0

      prevalentStroke  prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  \
0                   0             0         0    221.0  148.0   85.0    NaN
1                   0             1         0    212.0  168.0   98.0  29.77
2                   0             0         0    250.0  116.0   71.0  20.35
3                   0             1         0    233.0  158.0   88.0  28.26
4                   0             0         0    241.0  136.5   85.0  26.42
...               ...           ...       ...      ...    ...    ...    ...
3385                0             0         0    261.0  123.5   79.0  29.28
3386                0             0         0    199.0  102.0   56.0  21.96
3387                0             1         0    352.0  164.0  119.0  28.92
3388                0             1         0    191.0  167.0  105.0  23.01
3389                0             0         0    288.0  124.0   77.0  29.88

      heartRate  glucose  TenYearCHD
0          90.0     80.0           1
1          72.0     75.0           0
2          88.0     94.0           0
3          68.0     94.0           1
4          70.0     77.0           0
...         ...      ...         ...
3385       70.0    103.0           0
3386       80.0     84.0           0
3387       73.0     72.0           1
3388       80.0     85.0           0
3389       79.0     92.0           0

[3390 rows x 17 columns]

In [10]:
print(df.columns)

Index(['id', 'age', 'education', 'sex', 'is_smoking', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

In [14]:
# reading columns
print(df['is_smoking'][0:10]) # print first 10 is_smoking results

0    YES
1     NO
2    YES
3    YES
4    YES
5     NO
6     NO
7    YES
8    YES
9     NO
Name: is_smoking, dtype: object

In [16]:
# grab 3 columns -> age, sex, cigsPerDay
print(df[['age','sex','cigsPerDay']][0:14])

    age sex  cigsPerDay
0    64   F         3.0
1    36   M         0.0
2    46   F        10.0
3    50   M        20.0
4    64   F        30.0
5    61   F         0.0
6    61   M         0.0
7    36   M        35.0
8    41   F        20.0
9    55   F         0.0
10   61   F         0.0
11   53   F         0.0
12   43   F         0.0
13   44   M        40.0

In [21]:
# print all rows
print(df.iloc[0:])

        id  age  education sex is_smoking  cigsPerDay  BPMeds  \
0        0   64        2.0   F        YES         3.0     0.0
1        1   36        4.0   M         NO         0.0     0.0
2        2   46        1.0   F        YES        10.0     0.0
3        3   50        1.0   M        YES        20.0     0.0
4        4   64        1.0   F        YES        30.0     0.0
...    ...  ...        ...  ..        ...         ...     ...
3385  3385   60        1.0   F         NO         0.0     0.0
3386  3386   46        1.0   F         NO         0.0     0.0
3387  3387   44        3.0   M        YES         3.0     0.0
3388  3388   60        1.0   M         NO         0.0     NaN
3389  3389   54        3.0   F         NO         0.0     0.0

      prevalentStroke  prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  \
0                   0             0         0    221.0  148.0   85.0    NaN
1                   0             1         0    212.0  168.0   98.0  29.77
2                   0             0         0    250.0  116.0   71.0  20.35
3                   0             1         0    233.0  158.0   88.0  28.26
4                   0             0         0    241.0  136.5   85.0  26.42
...               ...           ...       ...      ...    ...    ...    ...
3385                0             0         0    261.0  123.5   79.0  29.28
3386                0             0         0    199.0  102.0   56.0  21.96
3387                0             1         0    352.0  164.0  119.0  28.92
3388                0             1         0    191.0  167.0  105.0  23.01
3389                0             0         0    288.0  124.0   77.0  29.88

      heartRate  glucose  TenYearCHD
0          90.0     80.0           1
1          72.0     75.0           0
2          88.0     94.0           0
3          68.0     94.0           1
4          70.0     77.0           0
...         ...      ...         ...
3385       70.0    103.0           0
3386       80.0     84.0           0
3387       73.0     72.0           1
3388       80.0     85.0           0
3389       79.0     92.0           0

[3390 rows x 17 columns]

In [24]:
# print first 5 rows using iloc
print(df.iloc[0:5])

   id  age  education sex is_smoking  cigsPerDay  BPMeds  prevalentStroke  \
0   0   64        2.0   F        YES         3.0     0.0                0
1   1   36        4.0   M         NO         0.0     0.0                0
2   2   46        1.0   F        YES        10.0     0.0                0
3   3   50        1.0   M        YES        20.0     0.0                0
4   4   64        1.0   F        YES        30.0     0.0                0

   prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  heartRate  glucose  \
0             0         0    221.0  148.0   85.0    NaN       90.0     80.0
1             1         0    212.0  168.0   98.0  29.77       72.0     75.0
2             0         0    250.0  116.0   71.0  20.35       88.0     94.0
3             1         0    233.0  158.0   88.0  28.26       68.0     94.0
4             0         0    241.0  136.5   85.0  26.42       70.0     77.0

   TenYearCHD
0           1
1           0
2           0
3           1
4           0

In [32]:
# print specific location using iloc method and comma notation
# totalChlorestol results for id = 1120
print(df.iloc[1120,10])

248.0

In [43]:
# iterate through each dataset and grab only diabetes column
for index, row in df.iterrows():
    print(index, row['diabetes'])

0 0
1 0
2 0
3 0
4 0
5 0
6 0
7 0
8 0
9 0
10 0
11 0
12 0
13 0
14 0
15 0
16 0
17 0
18 0
19 0
20 0
21 0
22 0
23 0
24 0
25 0
26 0
27 0
28 0
29 0
30 0
31 0
32 0
33 0
34 0
35 0
36 0
37 0
38 0
39 0
40 0
41 0
42 0
43 0
44 0
45 0
46 0
47 0
48 0
49 0
50 0
51 0
52 0
53 0
54 0
55 0
56 0
57 0
58 0
59 0
60 0
61 0
62 0
63 0
64 0
65 0
66 0
67 0
68 0
69 0
70 0
71 0
72 0
73 0
74 0
75 0
76 0
77 1
78 0
79 0
80 0
81 0
82 0
83 0
84 0
85 0
86 0
87 0
88 0
89 0
90 0
91 0
92 0
93 0
94 0
95 0
96 0
97 0
98 0
99 0
100 0
101 0
102 0
103 0
104 0
105 0
106 0
107 1
108 0
109 0
110 0
111 0
112 0
113 0
114 0
115 0
116 0
117 0
118 0
119 0
120 0
121 0
122 0
123 0
124 0
125 0
126 0
127 0
128 0
129 0
130 1
131 0
132 0
133 0
134 1
135 0
136 0
137 0
138 0
139 0
140 0
141 0
142 0
143 0
144 0
145 0
146 0
147 0
148 0
149 0
150 0
151 0
152 0
153 0
154 0
155 0
156 0
157 0
158 0
159 0
160 0
161 0
162 0
163 0
164 0
165 0
166 0
167 0
168 0
169 0
170 0
171 0
172 0
173 1
174 0
175 0
176 0
177 0
178 0
179 0
180 0
181 0
182 0
183 0
184 0
185 0
186 0
187 0
188 0
189 0
190 0
191 0
192 0
193 0
194 0
195 0
196 0
197 0
198 0
199 0
200 0
201 0
202 0
203 0
204 0
205 0
206 0
207 0
208 0
209 0
210 0
211 0
212 1
213 0
214 0
215 0
216 0
217 0
218 0
219 0
220 0
221 0
222 0
223 0
224 0
225 0
226 0
227 0
228 0
229 0
230 1
231 0
232 0
233 0
234 0
235 0
236 0
237 0
238 0
239 0
240 0
241 0
242 0
243 0
244 0
245 0
246 0
247 0
248 0
249 0
250 0
251 0
252 0
253 0
254 0
255 0
256 0
257 0
258 0
259 0
260 0
261 0
262 0
263 0
264 0
265 0
266 0
267 0
268 0
269 0
270 0
271 0
272 0
273 0
274 0
275 0
276 0
277 0
278 0
279 0
280 0
281 0
282 0
283 0
284 0
285 0
286 0
287 0
288 0
289 0
290 0
291 0
292 0
293 0
294 0
295 0
296 0
297 0
298 0
299 0
300 0
301 0
302 0
303 0
304 0
305 0
306 0
307 0
308 0
309 0
310 0
311 0
312 1
313 0
314 0
315 0
316 0
317 0
318 0
319 0
320 0
321 0
322 0
323 0
324 0
325 0
326 0
327 0
328 0
329 0
330 0
331 0
332 0
333 0
334 0
335 0
336 0
337 0
338 0
339 0
340 0
341 0
342 0
343 0
344 0
345 0
346 0
347 0
348 0
349 0
350 0
351 0
352 0
353 0
354 0
355 0
356 0
357 0
358 0
359 0
360 0
361 0
362 0
363 0
364 0
365 0
366 0
367 0
368 0
369 0
370 0
371 0
372 0
373 0
374 0
375 0
376 0
377 0
378 0
379 0
380 0
381 0
382 0
383 0
384 0
385 0
386 0
387 0
388 0
389 0
390 0
391 0
392 0
393 0
394 0
395 0
396 0
397 0
398 0
399 0
400 1
401 0
402 0
403 0
404 0
405 0
406 0
407 0
408 0
409 0
410 0
411 0
412 0
413 0
414 0
415 0
416 0
417 0
418 0
419 0
420 0
421 0
422 0
423 1
424 0
425 0
426 0
427 0
428 0
429 0
430 0
431 0
432 0
433 0
434 0
435 0
436 0
437 0
438 0
439 0
440 0
441 0
442 0
443 0
444 0
445 0
446 0
447 0
448 0
449 0
450 0
451 0
452 0
453 0
454 0
455 1
456 0
457 0
458 0
459 0
460 0
461 0
462 0
463 0
464 0
465 0
466 0
467 0
468 0
469 0
470 0
471 0
472 0
473 0
474 0
475 1
476 1
477 0
478 0
479 0
480 0
481 1
482 0
483 0
484 0
485 0
486 0
487 0
488 0
489 0
490 0
491 0
492 0
493 0
494 0
495 0
496 0
497 0
498 0
499 0
500 0
501 0
502 0
503 0
504 0
505 0
506 0
507 0
508 0
509 0
510 0
511 0
512 0
513 0
514 0
515 0
516 0
517 0
518 0
519 0
520 0
521 0
522 0
523 0
524 0
525 0
526 0
527 0
528 0
529 0
530 0
531 0
532 0
533 0
534 1
535 0
536 0
537 0
538 0
539 0
540 0
541 0
542 0
543 0
544 0
545 0
546 0
547 0
548 0
549 0
550 0
551 0
552 0
553 0
554 0
555 0
556 0
557 0
558 0
559 0
560 0
561 0
562 0
563 0
564 0
565 0
566 0
567 0
568 0
569 0
570 0
571 0
572 0
573 0
574 0
575 0
576 0
577 0
578 0
579 0
580 1
581 0
582 0
583 0
584 0
585 0
586 0
587 0
588 0
589 0
590 0
591 0
592 0
593 0
594 1
595 0
596 0
597 1
598 0
599 0
600 0
601 0
602 0
603 0
604 0
605 0
606 0
607 0
608 1
609 0
610 0
611 0
612 0
613 0
614 0
615 0
616 0
617 0
618 0
619 0
620 0
621 0
622 0
623 0
624 0
625 0
626 0
627 0
628 0
629 0
630 0
631 0
632 0
633 0
634 0
635 0
636 0
637 0
638 0
639 0
640 0
641 0
642 0
643 0
644 0
645 0
646 0
647 0
648 0
649 0
650 0
651 0
652 0
653 0
654 0
655 0
656 0
657 0
658 0
659 0
660 0
661 0
662 0
663 0
664 0
665 0
666 0
667 0
668 0
669 0
670 0
671 0
672 0
673 0
674 0
675 0
676 0
677 0
678 0
679 0
680 0
681 0
682 0
683 0
684 0
685 0
686 0
687 0
688 0
689 0
690 0
691 0
692 0
693 1
694 0
695 0
696 0
697 0
698 0
699 0
700 0
701 0
702 0
703 0
704 0
705 0
706 0
707 0
708 0
709 0
710 0
711 0
712 0
713 0
714 0
715 0
716 0
717 0
718 0
719 0
720 0
721 0
722 0
723 0
724 0
725 0
726 0
727 0
728 0
729 0
730 0
731 0
732 0
733 0
734 0
735 0
736 0
737 0
738 0
739 0
740 0
741 0
742 0
743 0
744 0
745 0
746 0
747 0
748 0
749 0
750 0
751 0
752 0
753 0
754 0
755 0
756 0
757 0
758 0
759 0
760 0
761 0
762 0
763 0
764 0
765 0
766 0
767 0
768 0
769 0
770 0
771 0
772 0
773 0
774 0
775 0
776 0
777 0
778 0
779 0
780 0
781 1
782 0
783 0
784 0
785 0
786 1
787 0
788 0
789 0
790 0
791 0
792 0
793 0
794 0
795 0
796 0
797 0
798 1
799 0
800 0
801 0
802 0
803 0
804 0
805 0
806 0
807 0
808 0
809 0
810 0
811 0
812 0
813 0
814 0
815 0
816 0
817 0
818 0
819 0
820 0
821 0
822 0
823 0
824 0
825 1
826 0
827 0
828 0
829 0
830 0
831 0
832 0
833 0
834 0
835 0
836 0
837 0
838 0
839 0
840 0
841 0
842 0
843 0
844 0
845 0
846 0
847 0
848 0
849 0
850 0
851 0
852 0
853 0
854 0
855 0
856 0
857 0
858 0
859 0
860 0
861 0
862 0
863 0
864 0
865 0
866 0
867 0
868 0
869 0
870 0
871 0
872 0
873 0
874 0
875 0
876 0
877 0
878 0
879 0
880 0
881 0
882 0
883 0
884 0
885 0
886 0
887 0
888 0
889 0
890 0
891 0
892 0
893 0
894 0
895 0
896 0
897 0
898 0
899 0
900 0
901 0
902 0
903 0
904 0
905 0
906 0
907 0
908 0
909 0
910 0
911 0
912 0
913 0
914 0
915 0
916 0
917 0
918 0
919 0
920 0
921 0
922 0
923 0
924 0
925 0
926 0
927 0
928 0
929 0
930 0
931 0
932 0
933 0
934 0
935 0
936 0
937 0
938 0
939 0
940 0
941 0
942 0
943 0
944 0
945 0
946 0
947 0
948 0
949 0
950 0
951 0
952 0
953 0
954 0
955 0
956 0
957 0
958 0
959 0
960 0
961 0
962 0
963 0
964 0
965 0
966 0
967 0
968 0
969 0
970 0
971 0
972 0
973 0
974 0
975 0
976 0
977 0
978 0
979 0
980 0
981 0
982 0
983 0
984 0
985 0
986 0
987 0
988 0
989 0
990 0
991 0
992 0
993 0
994 0
995 0
996 1
997 0
998 0
999 0
1000 0
1001 0
1002 0
1003 0
1004 0
1005 0
1006 0
1007 0
1008 0
1009 0
1010 0
1011 0
1012 0
1013 0
1014 0
1015 0
1016 0
1017 0
1018 0
1019 0
1020 0
1021 0
1022 0
1023 0
1024 0
1025 0
1026 0
1027 0
1028 0
1029 0
1030 0
1031 0
1032 1
1033 0
1034 0
1035 0
1036 0
1037 0
1038 0
1039 0
1040 0
1041 0
1042 0
1043 0
1044 0
1045 0
1046 0
1047 0
1048 0
1049 0
1050 0
1051 0
1052 0
1053 0
1054 0
1055 0
1056 0
1057 0
1058 0
1059 0
1060 0
1061 0
1062 0
1063 0
1064 0
1065 0
1066 0
1067 0
1068 0
1069 0
1070 0
1071 0
1072 0
1073 0
1074 0
1075 0
1076 0
1077 0
1078 0
1079 0
1080 0
1081 0
1082 0
1083 0
1084 0
1085 0
1086 0
1087 0
1088 0
1089 0
1090 0
1091 0
1092 0
1093 0
1094 0
1095 0
1096 0
1097 0
1098 0
1099 0
1100 0
1101 0
1102 0
1103 0
1104 0
1105 0
1106 0
1107 0
1108 0
1109 0
1110 0
1111 0
1112 0
1113 0
1114 0
1115 0
1116 0
1117 0
1118 0
1119 0
1120 0
1121 0
1122 0
1123 0
1124 0
1125 0
1126 0
1127 0
1128 0
1129 0
1130 0
1131 0
1132 0
1133 0
1134 0
1135 0
1136 0
1137 0
1138 1
1139 0
1140 0
1141 0
1142 0
1143 0
1144 0
1145 0
1146 0
1147 0
1148 0
1149 0
1150 1
1151 0
1152 0
1153 0
1154 0
1155 0
1156 1
1157 0
1158 0
1159 0
1160 0
1161 0
1162 0
1163 0
1164 0
1165 0
1166 0
1167 0
1168 0
1169 0
1170 0
1171 0
1172 0
1173 0
1174 0
1175 0
1176 0
1177 0
1178 0
1179 0
1180 0
1181 0
1182 0
1183 0
1184 0
1185 0
1186 0
1187 0
1188 0
1189 0
1190 0
1191 0
1192 0
1193 0
1194 0
1195 0
1196 0
1197 1
1198 0
1199 0
1200 0
1201 0
1202 0
1203 0
1204 0
1205 0
1206 0
1207 0
1208 0
1209 0
1210 0
1211 0
1212 0
1213 0
1214 0
1215 0
1216 0
1217 0
1218 0
1219 0
1220 0
1221 0
1222 0
1223 0
1224 0
1225 0
1226 0
1227 0
1228 0
1229 0
1230 1
1231 0
1232 1
1233 0
1234 0
1235 0
1236 0
1237 0
1238 0
1239 0
1240 0
1241 0
1242 0
1243 0
1244 0
1245 0
1246 0
1247 0
1248 0
1249 0
1250 0
1251 0
1252 0
1253 0
1254 0
1255 0
1256 0
1257 0
1258 0
1259 0
1260 0
1261 0
1262 0
1263 0
1264 0
1265 0
1266 0
1267 0
1268 0
1269 0
1270 0
1271 0
1272 0
1273 0
1274 0
1275 0
1276 0
1277 0
1278 0
1279 0
1280 0
1281 1
1282 0
1283 0
1284 0
1285 0
1286 0
1287 0
1288 0
1289 0
1290 0
1291 0
1292 0
1293 0
1294 0
1295 0
1296 0
1297 0
1298 0
1299 0
1300 0
1301 0
1302 0
1303 0
1304 0
1305 0
1306 0
1307 0
1308 0
1309 0
1310 0
1311 0
1312 0
1313 0
1314 0
1315 0
1316 0
1317 0
1318 0
1319 0
1320 0
1321 0
1322 0
1323 0
1324 0
1325 0
1326 0
1327 0
1328 0
1329 0
1330 0
1331 0
1332 0
1333 0
1334 0
1335 0
1336 0
1337 0
1338 0
1339 0
1340 0
1341 0
1342 0
1343 0
1344 0
1345 0
1346 0
1347 0
1348 0
1349 0
1350 0
1351 0
1352 0
1353 0
1354 0
1355 0
1356 0
1357 0
1358 0
1359 0
1360 0
1361 0
1362 0
1363 0
1364 0
1365 0
1366 0
1367 1
1368 0
1369 0
1370 0
1371 0
1372 1
1373 0
1374 0
1375 0
1376 0
1377 0
1378 1
1379 0
1380 0
1381 0
1382 0
1383 0
1384 0
1385 0
1386 0
1387 1
1388 0
1389 0
1390 0
1391 0
1392 0
1393 0
1394 0
1395 0
1396 0
1397 0
1398 0
1399 0
1400 0
1401 0
1402 0
1403 0
1404 0
1405 0
1406 0
1407 0
1408 0
1409 0
1410 0
1411 0
1412 0
1413 0
1414 0
1415 0
1416 0
1417 0
1418 0
1419 0
1420 0
1421 0
1422 0
1423 0
1424 0
1425 0
1426 0
1427 0
1428 0
1429 0
1430 0
1431 0
1432 0
1433 0
1434 0
1435 0
1436 0
1437 0
1438 0
1439 0
1440 0
1441 0
1442 0
1443 0
1444 0
1445 0
1446 0
1447 0
1448 1
1449 0
1450 0
1451 0
1452 0
1453 0
1454 0
1455 0
1456 0
1457 0
1458 0
1459 0
1460 0
1461 0
1462 0
1463 0
1464 0
1465 0
1466 0
1467 0
1468 0
1469 0
1470 0
1471 0
1472 0
1473 0
1474 0
1475 0
1476 0
1477 0
1478 0
1479 0
1480 0
1481 0
1482 0
1483 0
1484 0
1485 0
1486 0
1487 0
1488 0
1489 0
1490 0
1491 0
1492 0
1493 0
1494 0
1495 0
1496 0
1497 0
1498 0
1499 0
1500 0
1501 0
1502 0
1503 0
1504 0
1505 0
1506 0
1507 0
1508 0
1509 0
1510 0
1511 0
1512 0
1513 0
1514 0
1515 0
1516 0
1517 0
1518 0
1519 0
1520 0
1521 0
1522 0
1523 0
1524 0
1525 0
1526 0
1527 0
1528 0
1529 0
1530 0
1531 0
1532 0
1533 0
1534 0
1535 0
1536 0
1537 0
1538 0
1539 0
1540 0
1541 0
1542 0
1543 0
1544 0
1545 0
1546 0
1547 0
1548 0
1549 0
1550 0
1551 0
1552 0
1553 0
1554 0
1555 0
1556 0
1557 0
1558 0
1559 1
1560 0
1561 0
1562 0
1563 0
1564 0
1565 0
1566 0
1567 0
1568 0
1569 0
1570 0
1571 0
1572 0
1573 0
1574 0
1575 0
1576 0
1577 0
1578 0
1579 0
1580 0
1581 0
1582 0
1583 0
1584 0
1585 0
1586 0
1587 1
1588 0
1589 0
1590 0
1591 0
1592 0
1593 0
1594 0
1595 0
1596 0
1597 0
1598 0
1599 0
1600 0
1601 0
1602 0
1603 0
1604 0
1605 0
1606 0
1607 0
1608 0
1609 0
1610 1
1611 0
1612 0
1613 0
1614 0
1615 0
1616 0
1617 0
1618 0
1619 1
1620 0
1621 0
1622 0
1623 0
1624 0
1625 0
1626 0
1627 0
1628 0
1629 0
1630 0
1631 0
1632 0
1633 0
1634 0
1635 0
1636 0
1637 0
1638 0
1639 0
1640 0
1641 0
1642 0
1643 0
1644 0
1645 0
1646 0
1647 0
1648 0
1649 0
1650 0
1651 0
1652 0
1653 0
1654 0
1655 0
1656 0
1657 0
1658 0
1659 0
1660 0
1661 0
1662 0
1663 0
1664 0
1665 0
1666 0
1667 0
1668 0
1669 0
1670 0
1671 0
1672 0
1673 0
1674 0
1675 0
1676 0
1677 0
1678 0
1679 0
1680 0
1681 0
1682 0
1683 0
1684 0
1685 0
1686 0
1687 0
1688 0
1689 1
1690 0
1691 0
1692 0
1693 0
1694 0
1695 0
1696 0
1697 0
1698 0
1699 0
1700 0
1701 0
1702 0
1703 0
1704 0
1705 0
1706 0
1707 0
1708 0
1709 0
1710 0
1711 0
1712 0
1713 0
1714 0
1715 0
1716 0
1717 0
1718 0
1719 0
1720 0
1721 0
1722 0
1723 0
1724 0
1725 0
1726 0
1727 1
1728 0
1729 0
1730 0
1731 0
1732 0
1733 0
1734 0
1735 0
1736 0
1737 0
1738 0
1739 0
1740 0
1741 0
1742 0
1743 0
1744 0
1745 0
1746 0
1747 0
1748 0
1749 0
1750 0
1751 0
1752 0
1753 0
1754 0
1755 0
1756 0
1757 0
1758 0
1759 0
1760 0
1761 0
1762 0
1763 0
1764 0
1765 0
1766 0
1767 0
1768 0
1769 0
1770 0
1771 0
1772 0
1773 0
1774 0
1775 0
1776 0
1777 0
1778 0
1779 0
1780 0
1781 0
1782 0
1783 0
1784 0
1785 0
1786 0
1787 0
1788 0
1789 0
1790 0
1791 0
1792 0
1793 0
1794 0
1795 0
1796 0
1797 0
1798 0
1799 0
1800 0
1801 0
1802 0
1803 0
1804 0
1805 0
1806 0
1807 0
1808 0
1809 0
1810 0
1811 0
1812 0
1813 0
1814 0
1815 0
1816 0
1817 0
1818 0
1819 1
1820 0
1821 0
1822 0
1823 0
1824 0
1825 0
1826 1
1827 0
1828 0
1829 0
1830 0
1831 0
1832 0
1833 0
1834 0
1835 0
1836 0
1837 0
1838 0
1839 0
1840 0
1841 0
1842 0
1843 0
1844 0
1845 0
1846 0
1847 0
1848 0
1849 0
1850 0
1851 0
1852 0
1853 0
1854 0
1855 0
1856 0
1857 1
1858 0
1859 0
1860 0
1861 0
1862 0
1863 0
1864 0
1865 0
1866 0
1867 0
1868 0
1869 0
1870 0
1871 0
1872 0
1873 0
1874 0
1875 1
1876 0
1877 0
1878 0
1879 0
1880 0
1881 0
1882 0
1883 0
1884 0
1885 0
1886 0
1887 0
1888 0
1889 0
1890 0
1891 0
1892 0
1893 0
1894 0
1895 0
1896 0
1897 0
1898 0
1899 0
1900 0
1901 0
1902 0
1903 0
1904 0
1905 0
1906 0
1907 0
1908 0
1909 0
1910 0
1911 0
1912 0
1913 0
1914 0
1915 0
1916 0
1917 0
1918 0
1919 0
1920 0
1921 0
1922 0
1923 0
1924 0
1925 0
1926 0
1927 0
1928 0
1929 0
1930 0
1931 0
1932 0
1933 0
1934 0
1935 0
1936 0
1937 0
1938 1
1939 0
1940 0
1941 0
1942 0
1943 0
1944 0
1945 0
1946 0
1947 1
1948 0
1949 0
1950 0
1951 0
1952 0
1953 0
1954 0
1955 0
1956 0
1957 0
1958 0
1959 0
1960 0
1961 0
1962 0
1963 0
1964 0
1965 0
1966 0
1967 0
1968 0
1969 0
1970 0
1971 0
1972 0
1973 0
1974 0
1975 0
1976 0
1977 1
1978 0
1979 0
1980 0
1981 0
1982 0
1983 0
1984 0
1985 0
1986 0
1987 0
1988 0
1989 0
1990 0
1991 0
1992 0
1993 1
1994 0
1995 0
1996 0
1997 0
1998 0
1999 0
2000 0
2001 0
2002 0
2003 0
2004 0
2005 0
2006 0
2007 0
2008 0
2009 0
2010 0
2011 0
2012 0
2013 0
2014 0
2015 0
2016 0
2017 0
2018 0
2019 0
2020 0
2021 0
2022 0
2023 0
2024 0
2025 0
2026 0
2027 0
2028 0
2029 0
2030 0
2031 0
2032 0
2033 0
2034 0
2035 0
2036 0
2037 0
2038 0
2039 0
2040 0
2041 0
2042 0
2043 0
2044 0
2045 0
2046 0
2047 0
2048 0
2049 0
2050 0
2051 0
2052 0
2053 0
2054 0
2055 0
2056 0
2057 0
2058 0
2059 0
2060 0
2061 0
2062 0
2063 0
2064 0
2065 0
2066 0
2067 0
2068 1
2069 0
2070 0
2071 0
2072 0
2073 0
2074 0
2075 0
2076 0
2077 0
2078 0
2079 0
2080 0
2081 0
2082 0
2083 0
2084 0
2085 0
2086 0
2087 0
2088 0
2089 0
2090 0
2091 0
2092 0
2093 0
2094 0
2095 0
2096 1
2097 0
2098 0
2099 0
2100 0
2101 0
2102 0
2103 0
2104 0
2105 0
2106 0
2107 0
2108 0
2109 0
2110 0
2111 0
2112 0
2113 0
2114 0
2115 0
2116 0
2117 0
2118 0
2119 0
2120 0
2121 0
2122 0
2123 0
2124 0
2125 0
2126 0
2127 0
2128 0
2129 0
2130 0
2131 0
2132 0
2133 0
2134 0
2135 0
2136 0
2137 0
2138 0
2139 0
2140 0
2141 0
2142 0
2143 0
2144 0
2145 0
2146 0
2147 0
2148 0
2149 0
2150 0
2151 0
2152 0
2153 0
2154 0
2155 0
2156 0
2157 0
2158 0
2159 0
2160 0
2161 0
2162 0
2163 0
2164 1
2165 0
2166 0
2167 0
2168 0
2169 0
2170 0
2171 0
2172 0
2173 0
2174 0
2175 0
2176 0
2177 0
2178 0
2179 0
2180 0
2181 0
2182 0
2183 0
2184 0
2185 0
2186 0
2187 1
2188 1
2189 0
2190 0
2191 0
2192 0
2193 0
2194 0
2195 0
2196 0
2197 0
2198 0
2199 0
2200 0
2201 0
2202 0
2203 0
2204 0
2205 0
2206 0
2207 0
2208 0
2209 0
2210 0
2211 0
2212 0
2213 0
2214 0
2215 0
2216 0
2217 0
2218 0
2219 0
2220 0
2221 0
2222 0
2223 0
2224 0
2225 0
2226 0
2227 0
2228 0
2229 0
2230 0
2231 0
2232 0
2233 0
2234 0
2235 0
2236 0
2237 0
2238 0
2239 0
2240 0
2241 0
2242 0
2243 0
2244 0
2245 0
2246 0
2247 0
2248 0
2249 0
2250 0
2251 0
2252 0
2253 0
2254 0
2255 0
2256 0
2257 0
2258 0
2259 0
2260 0
2261 0
2262 1
2263 0
2264 0
2265 0
2266 0
2267 0
2268 0
2269 0
2270 0
2271 0
2272 0
2273 0
2274 0
2275 1
2276 0
2277 1
2278 0
2279 0
2280 0
2281 0
2282 0
2283 0
2284 0
2285 0
2286 0
2287 1
2288 0
2289 0
2290 0
2291 0
2292 0
2293 0
2294 0
2295 0
2296 0
2297 0
2298 0
2299 0
2300 0
2301 0
2302 0
2303 0
2304 0
2305 0
2306 0
2307 0
2308 0
2309 0
2310 0
2311 0
2312 0
2313 0
2314 0
2315 0
2316 0
2317 0
2318 0
2319 0
2320 0
2321 0
2322 0
2323 0
2324 0
2325 0
2326 0
2327 0
2328 0
2329 0
2330 0
2331 0
2332 0
2333 0
2334 0
2335 0
2336 0
2337 0
2338 0
2339 0
2340 0
2341 0
2342 0
2343 0
2344 0
2345 0
2346 0
2347 0
2348 0
2349 0
2350 0
2351 0
2352 0
2353 0
2354 0
2355 0
2356 0
2357 0
2358 0
2359 0
2360 0
2361 0
2362 0
2363 0
2364 0
2365 0
2366 0
2367 0
2368 0
2369 0
2370 0
2371 0
2372 0
2373 0
2374 0
2375 0
2376 0
2377 0
2378 0
2379 0
2380 0
2381 0
2382 0
2383 0
2384 0
2385 0
2386 0
2387 0
2388 0
2389 0
2390 0
2391 0
2392 0
2393 0
2394 0
2395 0
2396 0
2397 0
2398 0
2399 0
2400 0
2401 0
2402 0
2403 0
2404 0
2405 0
2406 0
2407 0
2408 0
2409 0
2410 0
2411 0
2412 0
2413 0
2414 0
2415 0
2416 0
2417 0
2418 1
2419 0
2420 0
2421 0
2422 0
2423 0
2424 0
2425 0
2426 0
2427 0
2428 0
2429 0
2430 0
2431 0
2432 0
2433 0
2434 0
2435 0
2436 0
2437 0
2438 0
2439 0
2440 0
2441 0
2442 0
2443 0
2444 0
2445 0
2446 0
2447 0
2448 0
2449 0
2450 0
2451 0
2452 0
2453 0
2454 0
2455 0
2456 0
2457 0
2458 0
2459 0
2460 0
2461 0
2462 0
2463 0
2464 0
2465 0
2466 0
2467 0
2468 0
2469 0
2470 0
2471 0
2472 0
2473 0
2474 0
2475 0
2476 0
2477 0
2478 0
2479 0
2480 0
2481 0
2482 0
2483 0
2484 0
2485 0
2486 0
2487 0
2488 0
2489 0
2490 0
2491 0
2492 0
2493 0
2494 0
2495 0
2496 0
2497 0
2498 0
2499 0
2500 0
2501 0
2502 0
2503 0
2504 0
2505 0
2506 0
2507 0
2508 0
2509 0
2510 0
2511 0
2512 1
2513 0
2514 0
2515 0
2516 0
2517 0
2518 0
2519 0
2520 0
2521 0
2522 0
2523 0
2524 0
2525 0
2526 0
2527 0
2528 0
2529 0
2530 0
2531 0
2532 0
2533 0
2534 0
2535 0
2536 0
2537 1
2538 0
2539 0
2540 0
2541 0
2542 0
2543 0
2544 0
2545 0
2546 0
2547 0
2548 0
2549 0
2550 0
2551 0
2552 0
2553 0
2554 0
2555 0
2556 0
2557 0
2558 0
2559 0
2560 0
2561 0
2562 0
2563 0
2564 0
2565 0
2566 1
2567 0
2568 0
2569 0
2570 0
2571 0
2572 0
2573 0
2574 0
2575 0
2576 0
2577 0
2578 0
2579 0
2580 0
2581 0
2582 0
2583 0
2584 0
2585 0
2586 0
2587 0
2588 0
2589 0
2590 0
2591 0
2592 0
2593 0
2594 0
2595 0
2596 0
2597 0
2598 0
2599 0
2600 0
2601 0
2602 0
2603 0
2604 0
2605 0
2606 0
2607 0
2608 0
2609 0
2610 0
2611 0
2612 0
2613 0
2614 0
2615 0
2616 0
2617 0
2618 0
2619 0
2620 0
2621 0
2622 0
2623 0
2624 0
2625 1
2626 0
2627 0
2628 0
2629 0
2630 0
2631 0
2632 0
2633 0
2634 0
2635 0
2636 0
2637 0
2638 0
2639 0
2640 0
2641 0
2642 0
2643 0
2644 0
2645 0
2646 0
2647 0
2648 0
2649 0
2650 0
2651 0
2652 0
2653 0
2654 0
2655 0
2656 0
2657 0
2658 0
2659 0
2660 0
2661 0
2662 0
2663 0
2664 0
2665 0
2666 0
2667 0
2668 0
2669 0
2670 0
2671 0
2672 1
2673 0
2674 0
2675 0
2676 0
2677 0
2678 0
2679 0
2680 0
2681 0
2682 0
2683 0
2684 0
2685 0
2686 0
2687 0
2688 0
2689 0
2690 0
2691 0
2692 0
2693 0
2694 0
2695 0
2696 0
2697 0
2698 0
2699 0
2700 0
2701 0
2702 0
2703 1
2704 0
2705 0
2706 0
2707 0
2708 0
2709 0
2710 0
2711 0
2712 0
2713 0
2714 0
2715 0
2716 0
2717 0
2718 0
2719 0
2720 0
2721 0
2722 0
2723 0
2724 0
2725 0
2726 0
2727 0
2728 0
2729 0
2730 0
2731 0
2732 0
2733 0
2734 0
2735 1
2736 0
2737 0
2738 0
2739 0
2740 0
2741 0
2742 0
2743 0
2744 0
2745 0
2746 0
2747 0
2748 0
2749 0
2750 0
2751 0
2752 0
2753 0
2754 0
2755 1
2756 0
2757 0
2758 0
2759 0
2760 0
2761 0
2762 0
2763 0
2764 0
2765 0
2766 0
2767 0
2768 0
2769 0
2770 0
2771 0
2772 0
2773 0
2774 0
2775 0
2776 0
2777 0
2778 0
2779 0
2780 0
2781 0
2782 0
2783 0
2784 0
2785 1
2786 0
2787 0
2788 0
2789 0
2790 0
2791 0
2792 0
2793 0
2794 0
2795 0
2796 0
2797 0
2798 0
2799 0
2800 0
2801 0
2802 0
2803 0
2804 0
2805 0
2806 0
2807 0
2808 0
2809 0
2810 0
2811 0
2812 0
2813 0
2814 0
2815 0
2816 0
2817 0
2818 0
2819 0
2820 0
2821 0
2822 0
2823 0
2824 0
2825 0
2826 0
2827 0
2828 0
2829 0
2830 0
2831 0
2832 0
2833 0
2834 0
2835 0
2836 0
2837 0
2838 0
2839 0
2840 0
2841 0
2842 0
2843 0
2844 0
2845 0
2846 0
2847 0
2848 0
2849 0
2850 0
2851 0
2852 0
2853 0
2854 0
2855 0
2856 0
2857 0
2858 0
2859 0
2860 0
2861 0
2862 0
2863 0
2864 0
2865 0
2866 0
2867 0
2868 0
2869 0
2870 0
2871 0
2872 0
2873 0
2874 0
2875 0
2876 0
2877 0
2878 0
2879 0
2880 0
2881 0
2882 0
2883 0
2884 0
2885 0
2886 0
2887 0
2888 0
2889 0
2890 0
2891 0
2892 0
2893 0
2894 0
2895 0
2896 0
2897 0
2898 0
2899 0
2900 0
2901 0
2902 0
2903 0
2904 0
2905 0
2906 0
2907 0
2908 0
2909 0
2910 0
2911 0
2912 0
2913 0
2914 0
2915 0
2916 0
2917 0
2918 0
2919 0
2920 0
2921 0
2922 0
2923 0
2924 0
2925 0
2926 0
2927 0
2928 0
2929 0
2930 0
2931 0
2932 0
2933 0
2934 0
2935 0
2936 0
2937 0
2938 0
2939 0
2940 0
2941 0
2942 0
2943 0
2944 0
2945 0
2946 0
2947 0
2948 0
2949 0
2950 0
2951 0
2952 0
2953 0
2954 0
2955 0
2956 0
2957 0
2958 0
2959 0
2960 0
2961 0
2962 0
2963 0
2964 0
2965 0
2966 0
2967 0
2968 0
2969 0
2970 0
2971 1
2972 0
2973 0
2974 0
2975 0
2976 0
2977 0
2978 0
2979 0
2980 0
2981 0
2982 0
2983 0
2984 0
2985 0
2986 0
2987 0
2988 0
2989 0
2990 0
2991 0
2992 0
2993 0
2994 0
2995 0
2996 0
2997 0
2998 0
2999 0
3000 0
3001 0
3002 0
3003 0
3004 0
3005 0
3006 0
3007 0
3008 0
3009 0
3010 0
3011 0
3012 0
3013 0
3014 0

In [47]:
# pull only the data with people who have diabetes
print(df.loc[df['diabetes'] == 1])

        id  age  education sex is_smoking  cigsPerDay  BPMeds  \
77      77   63        1.0   F         NO         0.0     0.0
107    107   45        4.0   M         NO         0.0     0.0
130    130   63        1.0   M         NO         0.0     0.0
134    134   64        1.0   F         NO         0.0     0.0
173    173   58        1.0   F         NO         0.0     0.0
...    ...  ...        ...  ..        ...         ...     ...
3164  3164   43        1.0   M        YES        20.0     0.0
3212  3212   60        1.0   F         NO         0.0     0.0
3232  3232   50        1.0   F         NO         0.0     0.0
3260  3260   43        1.0   F         NO         0.0     0.0
3373  3373   58        1.0   F         NO         0.0     0.0

      prevalentStroke  prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  \
77                  0             1         1    150.0  152.0   88.0  36.54
107                 0             0         1    189.0  132.0   78.0  28.40
130                 0             0         1    229.0  109.0   75.0  38.42
134                 0             1         1    262.0  147.0   90.0  26.51
173                 1             1         1    267.0  157.0   94.0  33.32
...               ...           ...       ...      ...    ...    ...    ...
3164                0             0         1    309.0  124.0   85.0  26.91
3212                0             1         1    282.0  213.0   94.5  28.58
3232                0             1         1    260.0  190.0  130.0  43.67
3260                0             1         1    231.0  155.5   99.5  34.95
3373                0             0         1    260.0   85.5   51.0  20.76

      heartRate  glucose  TenYearCHD
77         72.0    170.0           0
107        75.0    177.0           0
130       110.0    120.0           0
134        85.0    173.0           0
173        92.0    205.0           1
...         ...      ...         ...
3164       70.0    215.0           0
3212       71.0     78.0           0
3232       85.0    260.0           0
3260       68.0    274.0           1
3373       87.0    206.0           1

[87 rows x 17 columns]

In [48]:
# pull data with glucose > 170.5
df.loc[df['glucose'] > 170.5]

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
107,107,45,4.0,M,NO,0.0,0.0,0,0,1,189.0,132.0,78.0,28.40,75.0,177.0,0
134,134,64,1.0,F,NO,0.0,0.0,0,1,1,262.0,147.0,90.0,26.51,85.0,173.0,0
173,173,58,1.0,F,NO,0.0,0.0,1,1,1,267.0,157.0,94.0,33.32,92.0,205.0,1
230,230,52,2.0,M,YES,20.0,0.0,0,0,1,258.0,132.0,80.0,27.52,90.0,268.0,1
312,312,46,2.0,F,YES,15.0,0.0,0,0,1,233.0,106.0,60.0,20.84,75.0,348.0,0
400,400,58,2.0,F,NO,0.0,0.0,0,1,1,240.0,150.0,80.0,26.45,66.0,255.0,1
481,481,55,3.0,F,YES,20.0,0.0,0,0,1,216.0,125.0,80.0,27.18,86.0,244.0,0
534,534,54,1.0,F,NO,0.0,0.0,0,0,1,223.0,110.0,67.5,21.22,78.0,294.0,0
594,594,49,1.0,M,NO,0.0,0.0,0,0,1,248.0,130.5,82.0,27.29,52.0,254.0,0
786,786,58,1.0,M,NO,0.0,0.0,0,1,1,287.0,145.0,72.5,26.27,88.0,206.0,1
1032,1032,67,2.0,F,NO,0.0,1.0,0,1,1,303.0,204.0,96.0,27.86,75.0,394.0,1
1150,1150,52,1.0,M,NO,0.0,0.0,0,1,1,258.0,177.0,111.0,30.38,80.0,270.0,1
1156,1156,47,1.0,F,YES,1.0,0.0,0,1,1,160.0,197.0,109.0,34.91,82.0,320.0,1
1281,1281,54,1.0,F,NO,0.0,0.0,0,1,1,326.0,187.0,95.0,29.94,67.0,235.0,0
1559,1559,41,2.0,M,YES,15.0,0.0,0,0,1,155.0,107.0,81.0,20.96,90.0,191.0,0
1587,1587,62,3.0,M,NO,0.0,0.0,0,0,1,346.0,102.5,66.5,17.17,80.0,394.0,1
1610,1610,52,1.0,M,NO,0.0,0.0,0,0,1,219.0,125.0,82.0,24.06,73.0,173.0,1
1819,1819,61,1.0,F,NO,0.0,1.0,0,1,1,265.0,200.0,125.0,29.50,68.0,256.0,1
1947,1947,65,1.0,M,NO,0.0,0.0,0,1,1,240.0,235.0,100.0,NaN,68.0,297.0,1
1993,1993,53,1.0,M,YES,10.0,0.0,0,1,1,229.0,146.5,82.0,27.80,60.0,172.0,0
2164,2164,53,3.0,F,NO,0.0,1.0,0,1,1,311.0,206.0,92.0,21.51,76.0,215.0,1
2187,2187,66,1.0,M,YES,30.0,0.0,0,0,1,234.0,114.5,62.5,28.62,75.0,216.0,1
2188,2188,62,3.0,F,YES,20.0,1.0,0,1,1,358.0,215.0,110.0,37.62,110.0,368.0,1
2566,2566,61,1.0,M,NO,0.0,0.0,0,0,1,218.0,160.0,96.0,28.89,75.0,223.0,0
2672,2672,52,1.0,M,NO,0.0,0.0,0,1,1,178.0,160.0,98.0,40.11,75.0,225.0,0
2703,2703,47,2.0,M,YES,20.0,0.0,0,1,1,296.0,141.0,93.0,28.50,68.0,332.0,1
2755,2755,56,1.0,F,NO,0.0,0.0,0,1,1,273.0,136.0,80.0,27.73,90.0,210.0,1
2785,2785,36,2.0,F,NO,0.0,0.0,0,0,1,208.0,156.5,105.0,33.82,95.0,186.0,0
3042,3042,62,1.0,F,NO,0.0,0.0,0,0,1,233.0,130.0,87.0,21.34,85.0,386.0,0
3045,3045,52,NaN,M,NO,0.0,0.0,0,0,1,232.0,130.0,74.0,32.52,95.0,248.0,1
3069,3069,44,1.0,M,NO,0.0,0.0,0,1,1,208.0,175.0,101.0,27.93,95.0,193.0,0
3117,3117,47,4.0,M,YES,15.0,0.0,0,1,1,210.0,163.5,97.0,28.24,105.0,183.0,0
3164,3164,43,1.0,M,YES,20.0,0.0,0,0,1,309.0,124.0,85.0,26.91,70.0,215.0,0
3232,3232,50,1.0,F,NO,0.0,0.0,0,1,1,260.0,190.0,130.0,43.67,85.0,260.0,0
3260,3260,43,1.0,F,NO,0.0,0.0,0,1,1,231.0,155.5,99.5,34.95,68.0,274.0,1
3373,3373,58,1.0,F,NO,0.0,0.0,0,0,1,260.0,85.5,51.0,20.76,87.0,206.0,1

In [49]:
# describe the data
df.describe()

,id,age,education,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,3390.000000,3390.000000,3303.000000,3368.000000,3346.000000,3390.000000,3390.000000,3390.000000,3352.000000,3390.00000,3390.000000,3376.000000,3389.000000,3086.000000,3390.000000
mean,1694.500000,49.542183,1.970936,9.069477,0.029886,0.006490,0.315339,0.025664,237.074284,132.60118,82.883038,25.794964,75.977279,82.086520,0.150737
std,978.753033,8.592878,1.019081,11.879078,0.170299,0.080309,0.464719,0.158153,45.247430,22.29203,12.023581,4.115449,11.971868,24.244753,0.357846
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.50000,48.000000,15.960000,45.000000,40.000000,0.000000
25%,847.250000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.00000,74.500000,23.020000,68.000000,71.000000,0.000000
50%,1694.500000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.50000,82.000000,25.380000,75.000000,78.000000,0.000000
75%,2541.750000,56.000000,3.000000,20.000000,0.000000,0.000000,1.000000,0.000000,264.000000,144.00000,90.000000,28.040000,83.000000,87.000000,0.000000
max,3389.000000,70.000000,4.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.00000,142.500000,56.800000,143.000000,394.000000,1.000000

In [50]:
# print dataframe
df

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0,64,2.0,F,YES,3.0,0.0,0,0,0,221.0,148.0,85.0,NaN,90.0,80.0,1
1,1,36,4.0,M,NO,0.0,0.0,0,1,0,212.0,168.0,98.0,29.77,72.0,75.0,0
2,2,46,1.0,F,YES,10.0,0.0,0,0,0,250.0,116.0,71.0,20.35,88.0,94.0,0
3,3,50,1.0,M,YES,20.0,0.0,0,1,0,233.0,158.0,88.0,28.26,68.0,94.0,1
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0
3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0
3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1
3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0
3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0

In [60]:
# sort values by age, oldest to youngest
df.sort_values('age', ascending=False)

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
1207,1207,70,2.0,F,NO,0.0,1.0,0,1,0,231.0,136.0,84.0,31.78,60.0,95.0,0
2231,2231,70,1.0,F,NO,0.0,0.0,1,1,0,107.0,143.0,93.0,NaN,68.0,62.0,1
1514,1514,69,3.0,F,NO,0.0,0.0,0,0,0,286.0,117.0,73.0,20.92,85.0,103.0,0
1632,1632,69,2.0,F,NO,0.0,0.0,0,1,0,215.0,164.0,80.0,17.23,100.0,NaN,0
1070,1070,69,1.0,M,YES,4.0,0.0,0,1,0,232.0,151.0,74.0,24.14,75.0,62.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,440,33,2.0,M,NO,0.0,0.0,0,1,0,165.0,141.5,95.0,26.74,54.0,77.0,0
518,518,33,2.0,F,YES,5.0,0.0,0,0,0,200.0,119.0,74.0,23.80,75.0,74.0,0
193,193,33,3.0,F,YES,15.0,0.0,0,0,0,199.0,116.0,81.0,21.61,75.0,93.0,0
3027,3027,33,4.0,M,NO,0.0,0.0,0,0,0,165.0,136.0,75.0,24.95,88.0,90.0,0
2642,2642,32,2.0,F,YES,15.0,0.0,0,0,0,242.0,111.0,70.0,29.84,80.0,88.0,0

In [79]:
# sort by smoking confirmation, cigarettes per day, and heart rate
df.sort_values(['is_smoking','cigsPerDay', 'heartRate'], ascending=False)

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
2985,2985,40,3.0,M,YES,70.0,0.0,0,1,0,210.0,132.0,86.0,31.57,98.0,80.0,0
76,76,37,4.0,M,YES,60.0,0.0,0,0,0,254.0,122.5,82.5,23.87,88.0,83.0,0
2222,2222,48,NaN,M,YES,60.0,0.0,0,0,0,232.0,136.0,81.0,25.83,80.0,78.0,0
869,869,58,2.0,M,YES,60.0,0.0,0,1,0,250.0,150.0,97.0,32.00,75.0,65.0,0
3374,3374,67,2.0,M,YES,60.0,0.0,0,1,0,261.0,170.0,100.0,22.71,72.0,79.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,569,51,4.0,M,NO,0.0,0.0,0,0,0,230.0,115.5,85.0,30.75,48.0,85.0,0
649,649,61,1.0,M,NO,0.0,0.0,0,0,0,300.0,127.0,75.0,24.93,48.0,NaN,0
3165,3165,47,4.0,M,NO,0.0,0.0,0,0,0,194.0,115.0,82.0,28.23,48.0,76.0,0
1350,1350,46,2.0,F,NO,0.0,0.0,0,0,0,244.0,107.5,70.0,22.72,47.0,88.0,0
711,711,36,2.0,M,NO,0.0,0.0,0,0,0,230.0,122.0,78.0,26.53,45.0,78.0,0

In [82]:
# sort by age number ascending and education level descending
x = df.sort_values(['age', 'education'], ascending=[1,0])

# print first 1 affected rows
x.head(5)

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
2642,2642,32,2.0,F,YES,15.0,0.0,0,0,0,242.0,111.0,70.0,29.84,80.0,88.0,0
3027,3027,33,4.0,M,NO,0.0,0.0,0,0,0,165.0,136.0,75.0,24.95,88.0,90.0,0
193,193,33,3.0,F,YES,15.0,0.0,0,0,0,199.0,116.0,81.0,21.61,75.0,93.0,0
440,440,33,2.0,M,NO,0.0,0.0,0,1,0,165.0,141.5,95.0,26.74,54.0,77.0,0
518,518,33,2.0,F,YES,5.0,0.0,0,0,0,200.0,119.0,74.0,23.80,75.0,74.0,0

In [83]:
# modifying the data
df.head(10)

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0,64,2.0,F,YES,3.0,0.0,0,0,0,221.0,148.0,85.0,NaN,90.0,80.0,1
1,1,36,4.0,M,NO,0.0,0.0,0,1,0,212.0,168.0,98.0,29.77,72.0,75.0,0
2,2,46,1.0,F,YES,10.0,0.0,0,0,0,250.0,116.0,71.0,20.35,88.0,94.0,0
3,3,50,1.0,M,YES,20.0,0.0,0,1,0,233.0,158.0,88.0,28.26,68.0,94.0,1
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0
5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1
6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0
7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0
8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0
9,9,55,2.0,F,NO,0.0,0.0,0,1,0,326.0,144.0,81.0,25.71,85.0,NaN,0

In [84]:
# insert new column called 'Total' and add prevalentStroke, prevalentHyp, diabetes
df['Total'] = df['prevalentStroke'] + df['prevalentHyp'] + df['diabetes']

In [85]:
df

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
0,0,64,2.0,F,YES,3.0,0.0,0,0,0,221.0,148.0,85.0,NaN,90.0,80.0,1,0
1,1,36,4.0,M,NO,0.0,0.0,0,1,0,212.0,168.0,98.0,29.77,72.0,75.0,0,1
2,2,46,1.0,F,YES,10.0,0.0,0,0,0,250.0,116.0,71.0,20.35,88.0,94.0,0,0
3,3,50,1.0,M,YES,20.0,0.0,0,1,0,233.0,158.0,88.0,28.26,68.0,94.0,1,1
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [86]:
df.head(15)

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
0,0,64,2.0,F,YES,3.0,0.0,0,0,0,221.0,148.0,85.0,NaN,90.0,80.0,1,0
1,1,36,4.0,M,NO,0.0,0.0,0,1,0,212.0,168.0,98.0,29.77,72.0,75.0,0,1
2,2,46,1.0,F,YES,10.0,0.0,0,0,0,250.0,116.0,71.0,20.35,88.0,94.0,0,0
3,3,50,1.0,M,YES,20.0,0.0,0,1,0,233.0,158.0,88.0,28.26,68.0,94.0,1,1
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
9,9,55,2.0,F,NO,0.0,0.0,0,1,0,326.0,144.0,81.0,25.71,85.0,NaN,0,1
10,10,61,1.0,F,NO,0.0,0.0,0,1,0,NaN,185.0,121.0,35.22,80.0,NaN,0,1
11,11,53,2.0,F,NO,0.0,0.0,0,0,0,210.0,138.0,86.5,22.49,88.0,87.0,0,0
12,12,43,2.0,F,NO,0.0,0.0,0,0,0,213.0,96.0,62.0,19.38,74.0,80.0,0,0
13,13,44,1.0,M,YES,40.0,0.0,0,0,0,227.0,146.5,97.0,26.92,80.0,67.0,0,0
14,14,58,3.0,F,NO,0.0,0.0,0,1,0,188.0,160.0,120.0,35.58,88.0,85.0,0,1

In [91]:
# drop Total column
df.drop(['Total'], axis=1)

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0
5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1
6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0
7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0
8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0
3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0
3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1
3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0
3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0

In [94]:
# another way to add the columns and create the Total column using iloc and sum method horizontally
df['Total'] = df.iloc[:, 7:10].sum(axis=1)

In [95]:
df

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [100]:
# let's save the csv
df.to_csv('updated_data.csv', index=False)

In [103]:
df

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [107]:
# import openpyxl and save df to excel workbook
import openpyxl
xl = df.to_excel('updated_data.xlsx', index=False)

In [109]:
df

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [112]:
df.sort_values('id')

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [113]:
df.to_csv('cardiovascular_risk_data.csv')

In [116]:
df.sort_values('id', ascending=True)

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [117]:
df

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [119]:
# csv generated containing info people who have diabetes
x = df.loc[df['diabetes'] == 1]

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
77,77,63,1.0,F,NO,0.0,0.0,0,1,1,150.0,152.0,88.0,36.54,72.0,170.0,0,2
107,107,45,4.0,M,NO,0.0,0.0,0,0,1,189.0,132.0,78.0,28.40,75.0,177.0,0,1
130,130,63,1.0,M,NO,0.0,0.0,0,0,1,229.0,109.0,75.0,38.42,110.0,120.0,0,1
134,134,64,1.0,F,NO,0.0,0.0,0,1,1,262.0,147.0,90.0,26.51,85.0,173.0,0,2
173,173,58,1.0,F,NO,0.0,0.0,1,1,1,267.0,157.0,94.0,33.32,92.0,205.0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3164,3164,43,1.0,M,YES,20.0,0.0,0,0,1,309.0,124.0,85.0,26.91,70.0,215.0,0,1
3212,3212,60,1.0,F,NO,0.0,0.0,0,1,1,282.0,213.0,94.5,28.58,71.0,78.0,0,2
3232,3232,50,1.0,F,NO,0.0,0.0,0,1,1,260.0,190.0,130.0,43.67,85.0,260.0,0,2
3260,3260,43,1.0,F,NO,0.0,0.0,0,1,1,231.0,155.5,99.5,34.95,68.0,274.0,1,2
3373,3373,58,1.0,F,NO,0.0,0.0,0,0,1,260.0,85.5,51.0,20.76,87.0,206.0,1,1

In [120]:
x

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
2642,2642,32,2.0,F,YES,15.0,0.0,0,0,0,242.0,111.0,70.0,29.84,80.0,88.0,0
3027,3027,33,4.0,M,NO,0.0,0.0,0,0,0,165.0,136.0,75.0,24.95,88.0,90.0,0
193,193,33,3.0,F,YES,15.0,0.0,0,0,0,199.0,116.0,81.0,21.61,75.0,93.0,0
440,440,33,2.0,M,NO,0.0,0.0,0,1,0,165.0,141.5,95.0,26.74,54.0,77.0,0
518,518,33,2.0,F,YES,5.0,0.0,0,0,0,200.0,119.0,74.0,23.80,75.0,74.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1632,1632,69,2.0,F,NO,0.0,0.0,0,1,0,215.0,164.0,80.0,17.23,100.0,NaN,0
1070,1070,69,1.0,M,YES,4.0,0.0,0,1,0,232.0,151.0,74.0,24.14,75.0,62.0,0
1098,1098,69,1.0,M,YES,1.0,0.0,0,0,0,245.0,123.0,77.0,26.58,70.0,81.0,1
1207,1207,70,2.0,F,NO,0.0,1.0,0,1,0,231.0,136.0,84.0,31.78,60.0,95.0,0
2231,2231,70,1.0,F,NO,0.0,0.0,1,1,0,107.0,143.0,93.0,NaN,68.0,62.0,1

In [121]:
x.to_csv('diabetes_data.csv')

In [122]:
x

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
2642,2642,32,2.0,F,YES,15.0,0.0,0,0,0,242.0,111.0,70.0,29.84,80.0,88.0,0
3027,3027,33,4.0,M,NO,0.0,0.0,0,0,0,165.0,136.0,75.0,24.95,88.0,90.0,0
193,193,33,3.0,F,YES,15.0,0.0,0,0,0,199.0,116.0,81.0,21.61,75.0,93.0,0
440,440,33,2.0,M,NO,0.0,0.0,0,1,0,165.0,141.5,95.0,26.74,54.0,77.0,0
518,518,33,2.0,F,YES,5.0,0.0,0,0,0,200.0,119.0,74.0,23.80,75.0,74.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1632,1632,69,2.0,F,NO,0.0,0.0,0,1,0,215.0,164.0,80.0,17.23,100.0,NaN,0
1070,1070,69,1.0,M,YES,4.0,0.0,0,1,0,232.0,151.0,74.0,24.14,75.0,62.0,0
1098,1098,69,1.0,M,YES,1.0,0.0,0,0,0,245.0,123.0,77.0,26.58,70.0,81.0,1
1207,1207,70,2.0,F,NO,0.0,1.0,0,1,0,231.0,136.0,84.0,31.78,60.0,95.0,0
2231,2231,70,1.0,F,NO,0.0,0.0,1,1,0,107.0,143.0,93.0,NaN,68.0,62.0,1

In [123]:
df

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [125]:
df.head(20).sort_values('id')

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
9,9,55,2.0,F,NO,0.0,0.0,0,1,0,326.0,144.0,81.0,25.71,85.0,NaN,0,1
10,10,61,1.0,F,NO,0.0,0.0,0,1,0,NaN,185.0,121.0,35.22,80.0,NaN,0,1
11,11,53,2.0,F,NO,0.0,0.0,0,0,0,210.0,138.0,86.5,22.49,88.0,87.0,0,0
12,12,43,2.0,F,NO,0.0,0.0,0,0,0,213.0,96.0,62.0,19.38,74.0,80.0,0,0
13,13,44,1.0,M,YES,40.0,0.0,0,0,0,227.0,146.5,97.0,26.92,80.0,67.0,0,0
14,14,58,3.0,F,NO,0.0,0.0,0,1,0,188.0,160.0,120.0,35.58,88.0,85.0,0,1
15,15,51,1.0,M,YES,15.0,0.0,0,0,0,212.0,146.0,89.0,24.49,100.0,132.0,1,0
16,16,50,1.0,F,NO,0.0,0.0,0,1,0,240.0,163.0,105.0,31.37,89.0,75.0,0,1
17,17,44,3.0,F,NO,0.0,0.0,0,0,0,257.0,129.0,93.0,27.56,75.0,76.0,0,0
18,18,56,3.0,F,NO,0.0,0.0,0,0,0,267.0,122.5,85.0,24.22,92.0,100.0,0,0
19,19,42,1.0,M,YES,30.0,0.0,0,0,0,232.0,130.0,91.0,25.77,72.0,70.0,0,0
20,20,42,1.0,F,YES,20.0,0.0,0,1,0,199.0,141.0,92.0,43.69,80.0,60.0,1,1
21,21,38,2.0,F,NO,0.0,0.0,0,0,0,175.0,142.0,86.0,22.01,82.0,73.0,0,0
22,22,38,1.0,F,YES,30.0,0.0,0,0,0,164.0,113.0,68.0,25.75,70.0,75.0,0,0
23,23,63,1.0,F,NO,0.0,0.0,0,1,0,226.0,172.5,98.0,26.47,87.0,81.0,0,1

In [127]:
df.read_csv('cardiovascular_risk_data.csv')

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [130]:
df = pd.read_csv('cardiovascular_risk_data.csv')

TypeError: read_csv() got an unexpected keyword argument 'index'

In [129]:
df

,Unnamed: 0,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
0,4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
1,5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
2,6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
3,7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
4,8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3381,3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3382,3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3383,3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3384,3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3385,3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [131]:
df.to_csv('cardiovascular_risk_data.csv', index=False)

In [132]:
df

,Unnamed: 0,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
0,4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
1,5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
2,6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
3,7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
4,8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3381,3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3382,3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3383,3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3384,3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3385,3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [133]:
df.to_csv('cardiovascular_risk_data.csv', index=False)

In [134]:
df

,Unnamed: 0,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
0,4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
1,5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
2,6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
3,7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
4,8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3381,3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3382,3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3383,3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3384,3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3385,3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [141]:
x = df.drop(columns=['Unnamed: 0'])

In [142]:
df

,Unnamed: 0,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
0,4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
1,5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
2,6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
3,7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
4,8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3381,3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3382,3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3383,3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3384,3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3385,3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [143]:
df

,Unnamed: 0,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
0,4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
1,5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
2,6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
3,7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
4,8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3381,3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3382,3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3383,3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3384,3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3385,3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [144]:
df

,Unnamed: 0,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
0,4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
1,5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
2,6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
3,7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
4,8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3381,3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3382,3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3383,3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3384,3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3385,3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [145]:
df.drop(['Unnamed: 0'], axis=1)

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
0,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
1,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
2,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
3,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
4,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3381,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3382,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3383,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3384,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3385,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [146]:
df.to_csv('cardiovascular_risk_data',index=False)

In [147]:
df

,Unnamed: 0,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
0,4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
1,5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
2,6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
3,7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
4,8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3381,3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3382,3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3383,3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3384,3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3385,3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [148]:
df.drop(['Unnamed: 0'], axis=1)

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
0,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
1,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
2,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
3,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
4,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3381,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3382,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3383,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3384,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3385,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [149]:
df

,Unnamed: 0,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
0,4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
1,5,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
2,6,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
3,7,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
4,8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3381,3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3382,3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3383,3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3384,3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3385,3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [150]:
del df['Unnamed:0']

KeyError: 'Unnamed:0'

In [151]:
del df['Unnamed: 0']

In [152]:
df

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
0,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
1,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
2,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
3,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
4,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3381,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3382,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3383,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3384,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3385,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [153]:
df.to_csv('cardiovascular_risk_data')

In [154]:
df

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
0,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
1,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
2,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
3,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
4,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3381,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3382,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3383,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3384,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3385,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [155]:
df.sort_values(['id'], ascending=True)

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,Total
0,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0,0
1,5,61,3.0,F,NO,0.0,0.0,0,1,0,272.0,182.0,121.0,32.80,85.0,65.0,1,1
2,6,61,1.0,M,NO,0.0,0.0,0,1,0,238.0,232.0,136.0,24.83,75.0,79.0,0,1
3,7,36,4.0,M,YES,35.0,0.0,0,0,0,295.0,102.0,68.0,28.15,60.0,63.0,0,0
4,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3381,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0,0
3382,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0,0
3383,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1,1
3384,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0,1
3385,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0,0

In [160]:
for index, rows in df.iterrows():
    print(index, rows['is_smoking'])

0 YES
1 NO
2 NO
3 YES
4 YES
5 NO
6 NO
7 NO
8 NO
9 YES
10 NO
11 YES
12 NO
13 NO
14 NO
15 YES
16 YES
17 NO
18 YES
19 NO
20 NO
21 YES
22 YES
23 YES
24 NO
25 NO
26 NO
27 YES
28 NO
29 YES
30 NO
31 YES
32 NO
33 NO
34 YES
35 NO
36 YES
37 NO
38 YES
39 NO
40 YES
41 YES
42 NO
43 NO
44 YES
45 YES
46 NO
47 YES
48 NO
49 YES
50 YES
51 NO
52 YES
53 NO
54 YES
55 NO
56 NO
57 NO
58 NO
59 NO
60 YES
61 YES
62 YES
63 NO
64 NO
65 NO
66 YES
67 NO
68 YES
69 NO
70 NO
71 NO
72 YES
73 NO
74 YES
75 YES
76 NO
77 YES
78 NO
79 NO
80 NO
81 YES
82 NO
83 YES
84 YES
85 NO
86 YES
87 YES
88 NO
89 YES
90 NO
91 NO
92 NO
93 NO
94 NO
95 YES
96 NO
97 YES
98 NO
99 YES
100 NO
101 NO
102 YES
103 NO
104 YES
105 YES
106 YES
107 YES
108 NO
109 NO
110 YES
111 YES
112 NO
113 NO
114 YES
115 NO
116 NO
117 NO
118 NO
119 NO
120 NO
121 NO
122 YES
123 YES
124 NO
125 NO
126 NO
127 YES
128 YES
129 YES
130 NO
131 NO
132 NO
133 YES
134 NO
135 NO
136 YES
137 NO
138 YES
139 NO
140 YES
141 YES
142 NO
143 NO
144 YES
145 YES
146 YES
147 YES
148 YES
149 NO
150 YES
151 YES
152 YES
153 NO
154 YES
155 YES
156 YES
157 NO
158 YES
159 NO
160 YES
161 YES
162 NO
163 NO
164 NO
165 YES
166 NO
167 NO
168 NO
169 NO
170 NO
171 NO
172 NO
173 YES
174 NO
175 YES
176 NO
177 NO
178 NO
179 YES
180 NO
181 YES
182 NO
183 NO
184 YES
185 NO
186 YES
187 YES
188 YES
189 YES
190 NO
191 YES
192 NO
193 YES
194 NO
195 YES
196 YES
197 YES
198 YES
199 NO
200 NO
201 NO
202 NO
203 NO
204 YES
205 NO
206 YES
207 YES
208 YES
209 YES
210 NO
211 NO
212 YES
213 YES
214 NO
215 NO
216 YES
217 NO
218 YES
219 NO
220 NO
221 NO
222 YES
223 YES
224 YES
225 YES
226 YES
227 YES
228 NO
229 NO
230 NO
231 YES
232 NO
233 YES
234 NO
235 YES
236 NO
237 YES
238 NO
239 NO
240 YES
241 NO
242 YES
243 YES
244 YES
245 YES
246 NO
247 YES
248 NO
249 YES
250 NO
251 NO
252 YES
253 YES
254 YES
255 YES
256 YES
257 YES
258 YES
259 NO
260 NO
261 NO
262 NO
263 YES
264 YES
265 YES
266 YES
267 NO
268 NO
269 NO
270 NO
271 YES
272 NO
273 YES
274 NO
275 YES
276 YES
277 YES
278 YES
279 NO
280 YES
281 YES
282 NO
283 YES
284 YES
285 YES
286 YES
287 NO
288 NO
289 NO
290 YES
291 NO
292 YES
293 YES
294 YES
295 YES
296 NO
297 NO
298 YES
299 NO
300 YES
301 YES
302 YES
303 YES
304 NO
305 YES
306 NO
307 YES
308 YES
309 YES
310 NO
311 NO
312 YES
313 NO
314 NO
315 YES
316 YES
317 NO
318 YES
319 YES
320 NO
321 NO
322 YES
323 YES
324 NO
325 NO
326 YES
327 NO
328 YES
329 NO
330 YES
331 NO
332 NO
333 NO
334 YES
335 YES
336 YES
337 NO
338 YES
339 YES
340 YES
341 YES
342 YES
343 NO
344 NO
345 NO
346 NO
347 NO
348 NO
349 YES
350 NO
351 YES
352 YES
353 NO
354 YES
355 NO
356 YES
357 NO
358 NO
359 NO
360 NO
361 NO
362 NO
363 NO
364 YES
365 NO
366 YES
367 YES
368 YES
369 YES
370 YES
371 NO
372 NO
373 YES
374 NO
375 NO
376 YES
377 NO
378 NO
379 YES
380 YES
381 NO
382 NO
383 NO
384 NO
385 NO
386 NO
387 YES
388 NO
389 NO
390 YES
391 YES
392 NO
393 NO
394 YES
395 YES
396 NO
397 NO
398 YES
399 NO
400 YES
401 YES
402 NO
403 NO
404 NO
405 YES
406 NO
407 NO
408 NO
409 NO
410 YES
411 YES
412 YES
413 NO
414 NO
415 NO
416 YES
417 NO
418 YES
419 NO
420 NO
421 YES
422 NO
423 NO
424 YES
425 NO
426 YES
427 YES
428 NO
429 YES
430 NO
431 YES
432 YES
433 NO
434 YES
435 YES
436 NO
437 NO
438 NO
439 NO
440 NO
441 YES
442 YES
443 NO
444 NO
445 NO
446 YES
447 NO
448 NO
449 YES
450 YES
451 NO
452 NO
453 YES
454 NO
455 YES
456 YES
457 YES
458 NO
459 NO
460 NO
461 YES
462 YES
463 NO
464 NO
465 YES
466 YES
467 YES
468 NO
469 YES
470 NO
471 NO
472 NO
473 NO
474 NO
475 YES
476 YES
477 YES
478 YES
479 YES
480 NO
481 NO
482 NO
483 YES
484 NO
485 NO
486 YES
487 YES
488 YES
489 YES
490 NO
491 YES
492 NO
493 NO
494 NO
495 YES
496 YES
497 YES
498 YES
499 YES
500 NO
501 YES
502 NO
503 YES
504 NO
505 YES
506 YES
507 NO
508 YES
509 YES
510 NO
511 YES
512 YES
513 NO
514 YES
515 NO
516 NO
517 NO
518 NO
519 YES
520 NO
521 NO
522 YES
523 NO
524 YES
525 NO
526 YES
527 NO
528 YES
529 YES
530 NO
531 YES
532 YES
533 NO
534 YES
535 YES
536 YES
537 NO
538 YES
539 YES
540 NO
541 NO
542 YES
543 YES
544 NO
545 NO
546 NO
547 NO
548 YES
549 NO
550 YES
551 NO
552 NO
553 YES
554 YES
555 NO
556 YES
557 YES
558 YES
559 YES
560 YES
561 NO
562 YES
563 YES
564 YES
565 NO
566 NO
567 YES
568 NO
569 NO
570 NO
571 YES
572 YES
573 YES
574 NO
575 NO
576 YES
577 NO
578 NO
579 YES
580 YES
581 YES
582 NO
583 YES
584 YES
585 NO
586 NO
587 NO
588 YES
589 YES
590 NO
591 NO
592 YES
593 YES
594 NO
595 NO
596 YES
597 YES
598 YES
599 YES
600 YES
601 NO
602 NO
603 NO
604 YES
605 YES
606 NO
607 YES
608 NO
609 NO
610 YES
611 NO
612 YES
613 YES
614 NO
615 NO
616 NO
617 NO
618 YES
619 YES
620 NO
621 YES
622 YES
623 NO
624 NO
625 YES
626 NO
627 NO
628 NO
629 NO
630 NO
631 YES
632 YES
633 NO
634 YES
635 NO
636 NO
637 YES
638 YES
639 NO
640 YES
641 YES
642 NO
643 YES
644 NO
645 NO
646 NO
647 NO
648 YES
649 YES
650 NO
651 NO
652 NO
653 NO
654 NO
655 NO
656 YES
657 YES
658 YES
659 YES
660 YES
661 NO
662 NO
663 NO
664 YES
665 YES
666 NO
667 YES
668 YES
669 NO
670 YES
671 YES
672 YES
673 NO
674 NO
675 YES
676 NO
677 NO
678 NO
679 NO
680 YES
681 YES
682 NO
683 NO
684 YES
685 NO
686 YES
687 YES
688 NO
689 YES
690 NO
691 YES
692 NO
693 YES
694 NO
695 YES
696 YES
697 NO
698 NO
699 YES
700 NO
701 NO
702 NO
703 NO
704 NO
705 NO
706 NO
707 NO
708 YES
709 YES
710 YES
711 YES
712 NO
713 NO
714 NO
715 YES
716 NO
717 NO
718 YES
719 NO
720 YES
721 NO
722 NO
723 YES
724 NO
725 YES
726 NO
727 YES
728 NO
729 NO
730 NO
731 YES
732 NO
733 YES
734 NO
735 YES
736 NO
737 YES
738 NO
739 NO
740 NO
741 YES
742 YES
743 NO
744 NO
745 NO
746 YES
747 NO
748 YES
749 YES
750 YES
751 NO
752 NO
753 NO
754 YES
755 NO
756 NO
757 NO
758 YES
759 YES
760 YES
761 YES
762 NO
763 YES
764 YES
765 NO
766 NO
767 NO
768 NO
769 NO
770 YES
771 NO
772 NO
773 YES
774 YES
775 YES
776 NO
777 YES
778 YES
779 YES
780 YES
781 NO
782 NO
783 YES
784 YES
785 NO
786 NO
787 YES
788 YES
789 YES
790 NO
791 NO
792 NO
793 NO
794 NO
795 NO
796 NO
797 NO
798 NO
799 YES
800 NO
801 YES
802 NO
803 YES
804 YES
805 YES
806 YES
807 YES
808 YES
809 NO
810 NO
811 YES
812 NO
813 NO
814 YES
815 YES
816 YES
817 NO
818 YES
819 NO
820 NO
821 YES
822 YES
823 YES
824 YES
825 NO
826 YES
827 NO
828 NO
829 YES
830 YES
831 YES
832 NO
833 YES
834 NO
835 YES
836 NO
837 YES
838 NO
839 YES
840 YES
841 NO
842 NO
843 YES
844 NO
845 NO
846 NO
847 NO
848 NO
849 YES
850 NO
851 YES
852 NO
853 NO
854 NO
855 YES
856 YES
857 NO
858 YES
859 NO
860 NO
861 NO
862 NO
863 YES
864 NO
865 YES
866 NO
867 YES
868 YES
869 YES
870 NO
871 YES
872 NO
873 NO
874 YES
875 NO
876 YES
877 NO
878 NO
879 YES
880 NO
881 YES
882 YES
883 NO
884 YES
885 NO
886 NO
887 YES
888 YES
889 NO
890 YES
891 NO
892 NO
893 YES
894 NO
895 YES
896 YES
897 NO
898 NO
899 YES
900 YES
901 NO
902 NO
903 NO
904 YES
905 NO
906 YES
907 NO
908 NO
909 YES
910 NO
911 NO
912 NO
913 NO
914 YES
915 NO
916 YES
917 YES
918 NO
919 NO
920 NO
921 NO
922 YES
923 NO
924 YES
925 YES
926 NO
927 YES
928 NO
929 NO
930 YES
931 NO
932 YES
933 YES
934 NO
935 YES
936 YES
937 NO
938 YES
939 YES
940 YES
941 YES
942 NO
943 NO
944 YES
945 YES
946 YES
947 NO
948 YES
949 YES
950 YES
951 NO
952 NO
953 YES
954 NO
955 NO
956 YES
957 NO
958 NO
959 YES
960 YES
961 NO
962 NO
963 NO
964 NO
965 YES
966 YES
967 NO
968 YES
969 NO
970 NO
971 YES
972 NO
973 NO
974 YES
975 YES
976 YES
977 YES
978 YES
979 YES
980 YES
981 YES
982 NO
983 NO
984 YES
985 YES
986 NO
987 YES
988 NO
989 NO
990 YES
991 YES
992 NO
993 YES
994 YES
995 NO
996 NO
997 NO
998 YES
999 YES
1000 YES
1001 YES
1002 NO
1003 NO
1004 YES
1005 YES
1006 NO
1007 NO
1008 YES
1009 YES
1010 YES
1011 NO
1012 YES
1013 YES
1014 NO
1015 NO
1016 NO
1017 YES
1018 NO
1019 YES
1020 YES
1021 NO
1022 YES
1023 YES
1024 NO
1025 NO
1026 YES
1027 YES
1028 NO
1029 YES
1030 YES
1031 NO
1032 NO
1033 NO
1034 YES
1035 YES
1036 YES
1037 YES
1038 YES
1039 NO
1040 YES
1041 YES
1042 YES
1043 YES
1044 NO
1045 NO
1046 YES
1047 YES
1048 NO
1049 NO
1050 YES
1051 NO
1052 NO
1053 YES
1054 YES
1055 YES
1056 YES
1057 NO
1058 YES
1059 NO
1060 YES
1061 YES
1062 NO
1063 NO
1064 NO
1065 YES
1066 YES
1067 NO
1068 NO
1069 NO
1070 YES
1071 YES
1072 YES
1073 NO
1074 NO
1075 YES
1076 YES
1077 YES
1078 NO
1079 YES
1080 NO
1081 YES
1082 YES
1083 YES
1084 NO
1085 NO
1086 YES
1087 YES
1088 NO
1089 NO
1090 YES
1091 NO
1092 NO
1093 YES
1094 YES
1095 NO
1096 NO
1097 YES
1098 YES
1099 YES
1100 YES
1101 YES
1102 NO
1103 YES
1104 NO
1105 YES
1106 YES
1107 YES
1108 YES
1109 YES
1110 YES
1111 NO
1112 NO
1113 NO
1114 YES
1115 NO
1116 NO
1117 NO
1118 YES
1119 YES
1120 YES
1121 NO
1122 YES
1123 YES
1124 NO
1125 YES
1126 NO
1127 NO
1128 YES
1129 YES
1130 NO
1131 YES
1132 NO
1133 YES
1134 YES
1135 NO
1136 NO
1137 YES
1138 YES
1139 NO
1140 YES
1141 YES
1142 YES
1143 NO
1144 YES
1145 YES
1146 NO
1147 YES
1148 NO
1149 NO
1150 NO
1151 YES
1152 YES
1153 YES
1154 NO
1155 NO
1156 NO
1157 YES
1158 YES
1159 NO
1160 YES
1161 YES
1162 NO
1163 NO
1164 NO
1165 NO
1166 YES
1167 YES
1168 YES
1169 NO
1170 YES
1171 NO
1172 NO
1173 YES
1174 YES
1175 YES
1176 YES
1177 YES
1178 YES
1179 YES
1180 NO
1181 NO
1182 YES
1183 NO
1184 NO
1185 YES
1186 NO
1187 NO
1188 YES
1189 NO
1190 YES
1191 YES
1192 YES
1193 NO
1194 YES
1195 YES
1196 NO
1197 YES
1198 YES
1199 NO
1200 NO
1201 YES
1202 NO
1203 NO
1204 NO
1205 YES
1206 YES
1207 YES
1208 NO
1209 NO
1210 NO
1211 YES
1212 YES
1213 YES
1214 NO
1215 NO
1216 YES
1217 NO
1218 YES
1219 NO
1220 NO
1221 NO
1222 NO
1223 NO
1224 NO
1225 YES
1226 NO
1227 YES
1228 NO
1229 NO
1230 YES
1231 NO
1232 YES
1233 NO
1234 NO
1235 NO
1236 YES
1237 YES
1238 NO
1239 YES
1240 YES
1241 YES
1242 YES
1243 YES
1244 NO
1245 NO
1246 NO
1247 NO
1248 YES
1249 YES
1250 YES
1251 YES
1252 YES
1253 NO
1254 YES
1255 YES
1256 NO
1257 NO
1258 NO
1259 NO
1260 NO
1261 NO
1262 NO
1263 YES
1264 YES
1265 NO
1266 YES
1267 YES
1268 YES
1269 NO
1270 NO
1271 YES
1272 YES
1273 NO
1274 YES
1275 YES
1276 NO
1277 NO
1278 YES
1279 YES
1280 NO
1281 NO
1282 YES
1283 YES
1284 YES
1285 YES
1286 NO
1287 YES
1288 NO
1289 NO
1290 NO
1291 YES
1292 YES
1293 NO
1294 YES
1295 YES
1296 NO
1297 YES
1298 NO
1299 NO
1300 YES
1301 NO
1302 NO
1303 NO
1304 NO
1305 YES
1306 NO
1307 YES
1308 YES
1309 YES
1310 NO
1311 YES
1312 NO
1313 NO
1314 NO
1315 YES
1316 NO
1317 YES
1318 YES
1319 YES
1320 NO
1321 YES
1322 NO
1323 YES
1324 NO
1325 YES
1326 NO
1327 NO
1328 YES
1329 YES
1330 YES
1331 NO
1332 NO
1333 YES
1334 YES
1335 YES
1336 YES
1337 NO
1338 NO
1339 NO
1340 NO
1341 YES
1342 NO
1343 YES
1344 NO
1345 NO
1346 NO
1347 NO
1348 NO
1349 YES
1350 YES
1351 NO
1352 NO
1353 YES
1354 YES
1355 YES
1356 YES
1357 NO
1358 YES
1359 NO
1360 YES
1361 YES
1362 NO
1363 NO
1364 NO
1365 NO
1366 YES
1367 NO
1368 YES
1369 NO
1370 NO
1371 NO
1372 YES
1373 NO
1374 YES
1375 NO
1376 NO
1377 YES
1378 YES
1379 YES
1380 YES
1381 NO
1382 YES
1383 NO
1384 YES
1385 YES
1386 NO
1387 NO
1388 NO
1389 YES
1390 NO
1391 YES
1392 YES
1393 YES
1394 YES
1395 YES
1396 YES
1397 YES
1398 YES
1399 NO
1400 NO
1401 YES
1402 NO
1403 YES
1404 NO
1405 NO
1406 NO
1407 YES
1408 NO
1409 NO
1410 YES
1411 YES
1412 YES
1413 YES
1414 YES
1415 YES
1416 YES
1417 NO
1418 YES
1419 YES
1420 YES
1421 NO
1422 YES
1423 YES
1424 NO
1425 YES
1426 NO
1427 YES
1428 YES
1429 NO
1430 YES
1431 NO
1432 YES
1433 NO
1434 YES
1435 NO
1436 NO
1437 NO
1438 YES
1439 YES
1440 YES
1441 NO
1442 NO
1443 YES
1444 NO
1445 NO
1446 NO
1447 NO
1448 YES
1449 YES
1450 YES
1451 YES
1452 YES
1453 YES
1454 NO
1455 NO
1456 NO
1457 YES
1458 YES
1459 NO
1460 YES
1461 YES
1462 NO
1463 YES
1464 NO
1465 NO
1466 YES
1467 YES
1468 YES
1469 YES
1470 NO
1471 YES
1472 NO
1473 YES
1474 YES
1475 NO
1476 NO
1477 NO
1478 YES
1479 NO
1480 NO
1481 YES
1482 NO
1483 YES
1484 YES
1485 YES
1486 NO
1487 YES
1488 YES
1489 YES
1490 NO
1491 YES
1492 NO
1493 NO
1494 NO
1495 NO
1496 YES
1497 NO
1498 YES
1499 NO
1500 NO
1501 YES
1502 YES
1503 NO
1504 NO
1505 YES
1506 YES
1507 YES
1508 NO
1509 NO
1510 NO
1511 YES
1512 YES
1513 NO
1514 NO
1515 YES
1516 YES
1517 YES
1518 NO
1519 YES
1520 YES
1521 YES
1522 NO
1523 YES
1524 NO
1525 YES
1526 NO
1527 YES
1528 YES
1529 NO
1530 YES
1531 NO
1532 YES
1533 NO
1534 YES
1535 NO
1536 YES
1537 YES
1538 NO
1539 YES
1540 YES
1541 NO
1542 NO
1543 NO
1544 NO
1545 NO
1546 YES
1547 NO
1548 NO
1549 NO
1550 NO
1551 NO
1552 NO
1553 NO
1554 NO
1555 YES
1556 NO
1557 NO
1558 NO
1559 NO
1560 NO
1561 YES
1562 NO
1563 NO
1564 YES
1565 NO
1566 NO
1567 YES
1568 NO
1569 NO
1570 NO
1571 NO
1572 YES
1573 NO
1574 YES
1575 YES
1576 YES
1577 NO
1578 NO
1579 YES
1580 YES
1581 NO
1582 NO
1583 NO
1584 YES
1585 NO
1586 NO
1587 YES
1588 NO
1589 YES
1590 YES
1591 NO
1592 NO
1593 YES
1594 NO
1595 YES
1596 NO
1597 NO
1598 NO
1599 NO
1600 NO
1601 NO
1602 NO
1603 NO
1604 YES
1605 NO
1606 NO
1607 YES
1608 NO
1609 YES
1610 YES
1611 YES
1612 NO
1613 YES
1614 NO
1615 NO
1616 YES
1617 NO
1618 YES
1619 NO
1620 NO
1621 NO
1622 YES
1623 NO
1624 NO
1625 NO
1626 YES
1627 NO
1628 NO
1629 YES
1630 YES
1631 YES
1632 NO
1633 YES
1634 YES
1635 NO
1636 NO
1637 YES
1638 YES
1639 NO
1640 NO
1641 NO
1642 YES
1643 YES
1644 YES
1645 NO
1646 YES
1647 YES
1648 YES
1649 YES
1650 NO
1651 YES
1652 NO
1653 YES
1654 NO
1655 NO
1656 YES
1657 NO
1658 NO
1659 NO
1660 YES
1661 NO
1662 YES
1663 NO
1664 NO
1665 YES
1666 NO
1667 NO
1668 YES
1669 NO
1670 NO
1671 YES
1672 YES
1673 YES
1674 NO
1675 NO
1676 YES
1677 NO
1678 YES
1679 NO
1680 NO
1681 YES
1682 NO
1683 YES
1684 NO
1685 NO
1686 NO
1687 YES
1688 YES
1689 YES
1690 NO
1691 NO
1692 NO
1693 YES
1694 YES
1695 YES
1696 YES
1697 YES
1698 NO
1699 NO
1700 NO
1701 YES
1702 YES
1703 YES
1704 YES
1705 NO
1706 YES
1707 YES
1708 NO
1709 YES
1710 YES
1711 YES
1712 NO
1713 YES
1714 YES
1715 YES
1716 NO
1717 YES
1718 YES
1719 NO
1720 NO
1721 NO
1722 YES
1723 YES
1724 YES
1725 NO
1726 YES
1727 YES
1728 YES
1729 YES
1730 NO
1731 YES
1732 NO
1733 NO
1734 NO
1735 NO
1736 YES
1737 YES
1738 YES
1739 YES
1740 YES
1741 NO
1742 YES
1743 NO
1744 YES
1745 YES
1746 YES
1747 YES
1748 NO
1749 YES
1750 YES
1751 NO
1752 NO
1753 NO
1754 NO
1755 NO
1756 NO
1757 NO
1758 YES
1759 NO
1760 YES
1761 NO
1762 NO
1763 NO
1764 NO
1765 NO
1766 YES
1767 NO
1768 YES
1769 NO
1770 YES
1771 YES
1772 YES
1773 YES
1774 NO
1775 YES
1776 YES
1777 YES
1778 YES
1779 NO
1780 NO
1781 NO
1782 YES
1783 NO
1784 YES
1785 YES
1786 NO
1787 YES
1788 YES
1789 YES
1790 YES
1791 YES
1792 NO
1793 NO
1794 YES
1795 YES
1796 YES
1797 YES
1798 YES
1799 NO
1800 YES
1801 NO
1802 NO
1803 NO
1804 YES
1805 YES
1806 YES
1807 NO
1808 YES
1809 YES
1810 NO
1811 YES
1812 YES
1813 NO
1814 YES
1815 NO
1816 YES
1817 NO
1818 YES
1819 NO
1820 NO
1821 NO
1822 NO
1823 NO
1824 YES
1825 NO
1826 YES
1827 NO
1828 NO
1829 YES
1830 YES
1831 YES
1832 NO
1833 NO
1834 NO
1835 YES
1836 NO
1837 YES
1838 YES
1839 NO
1840 YES
1841 YES
1842 YES
1843 YES
1844 NO
1845 NO
1846 NO
1847 NO
1848 YES
1849 YES
1850 YES
1851 YES
1852 YES
1853 YES
1854 NO
1855 YES
1856 NO
1857 NO
1858 NO
1859 NO
1860 YES
1861 YES
1862 YES
1863 NO
1864 YES
1865 NO
1866 YES
1867 NO
1868 NO
1869 YES
1870 YES
1871 YES
1872 NO
1873 YES
1874 YES
1875 YES
1876 NO
1877 YES
1878 YES
1879 NO
1880 YES
1881 YES
1882 YES
1883 YES
1884 YES
1885 NO
1886 NO
1887 NO
1888 NO
1889 NO
1890 YES
1891 YES
1892 YES
1893 NO
1894 YES
1895 YES
1896 NO
1897 YES
1898 NO
1899 NO
1900 YES
1901 YES
1902 YES
1903 NO
1904 YES
1905 YES
1906 YES
1907 YES
1908 NO
1909 YES
1910 NO
1911 NO
1912 YES
1913 YES
1914 NO
1915 YES
1916 YES
1917 NO
1918 YES
1919 YES
1920 YES
1921 NO
1922 NO
1923 YES
1924 YES
1925 NO
1926 YES
1927 YES
1928 NO
1929 NO
1930 YES
1931 YES
1932 YES
1933 NO
1934 NO
1935 YES
1936 NO
1937 NO
1938 YES
1939 YES
1940 NO
1941 NO
1942 YES
1943 NO
1944 YES
1945 NO
1946 NO
1947 YES
1948 NO
1949 NO
1950 NO
1951 NO
1952 NO
1953 YES
1954 YES
1955 NO
1956 NO
1957 YES
1958 YES
1959 YES
1960 NO
1961 YES
1962 NO
1963 NO
1964 YES
1965 NO
1966 NO
1967 YES
1968 NO
1969 NO
1970 NO
1971 YES
1972 YES
1973 NO
1974 YES
1975 NO
1976 YES
1977 YES
1978 NO
1979 NO
1980 YES
1981 YES
1982 YES
1983 NO
1984 YES
1985 NO
1986 YES
1987 YES
1988 NO
1989 YES
1990 YES
1991 NO
1992 NO
1993 YES
1994 YES
1995 YES
1996 NO
1997 YES
1998 NO
1999 NO
2000 NO
2001 NO
2002 NO
2003 YES
2004 YES
2005 NO
2006 YES
2007 YES
2008 YES
2009 YES
2010 YES
2011 YES
2012 NO
2013 NO
2014 NO
2015 NO
2016 YES
2017 YES
2018 YES
2019 NO
2020 NO
2021 YES
2022 YES
2023 YES
2024 NO
2025 NO
2026 YES
2027 YES
2028 NO
2029 YES
2030 NO
2031 YES
2032 NO
2033 YES
2034 NO
2035 YES
2036 NO
2037 YES
2038 YES
2039 YES
2040 YES
2041 NO
2042 YES
2043 NO
2044 NO
2045 NO
2046 YES
2047 NO
2048 YES
2049 NO
2050 NO
2051 YES
2052 NO
2053 NO
2054 NO
2055 NO
2056 YES
2057 YES
2058 YES
2059 YES
2060 YES
2061 YES
2062 YES
2063 YES
2064 YES
2065 NO
2066 NO
2067 YES
2068 NO
2069 NO
2070 NO
2071 YES
2072 NO
2073 YES
2074 NO
2075 YES
2076 NO
2077 NO
2078 YES
2079 NO
2080 YES
2081 YES
2082 YES
2083 YES
2084 NO
2085 NO
2086 YES
2087 NO
2088 YES
2089 NO
2090 YES
2091 NO
2092 YES
2093 YES
2094 YES
2095 NO
2096 NO
2097 NO
2098 NO
2099 NO
2100 YES
2101 YES
2102 NO
2103 YES
2104 YES
2105 YES
2106 NO
2107 NO
2108 YES
2109 NO
2110 NO
2111 YES
2112 YES
2113 YES
2114 NO
2115 NO
2116 YES
2117 NO
2118 YES
2119 YES
2120 NO
2121 NO
2122 NO
2123 NO
2124 YES
2125 NO
2126 NO
2127 NO
2128 NO
2129 NO
2130 NO
2131 NO
2132 NO
2133 YES
2134 NO
2135 YES
2136 YES
2137 NO
2138 NO
2139 YES
2140 NO
2141 YES
2142 YES
2143 NO
2144 NO
2145 NO
2146 YES
2147 NO
2148 YES
2149 NO
2150 YES
2151 YES
2152 NO
2153 YES
2154 NO
2155 NO
2156 NO
2157 NO
2158 YES
2159 NO
2160 NO
2161 NO
2162 NO
2163 NO
2164 NO
2165 YES
2166 NO
2167 NO
2168 NO
2169 NO
2170 NO
2171 YES
2172 YES
2173 YES
2174 YES
2175 NO
2176 NO
2177 NO
2178 NO
2179 YES
2180 YES
2181 YES
2182 NO
2183 YES
2184 YES
2185 YES
2186 YES
2187 YES
2188 NO
2189 YES
2190 NO
2191 YES
2192 YES
2193 NO
2194 NO
2195 YES
2196 YES
2197 NO
2198 YES
2199 NO
2200 NO
2201 YES
2202 NO
2203 YES
2204 NO
2205 NO
2206 NO
2207 NO
2208 NO
2209 NO
2210 NO
2211 YES
2212 YES
2213 NO
2214 YES
2215 YES
2216 YES
2217 YES
2218 YES
2219 NO
2220 NO
2221 YES
2222 NO
2223 YES
2224 NO
2225 YES
2226 NO
2227 NO
2228 YES
2229 YES
2230 NO
2231 NO
2232 YES
2233 YES
2234 NO
2235 NO
2236 YES
2237 YES
2238 NO
2239 NO
2240 YES
2241 YES
2242 NO
2243 YES
2244 YES
2245 NO
2246 NO
2247 NO
2248 YES
2249 NO
2250 NO
2251 NO
2252 YES
2253 YES
2254 NO
2255 YES
2256 NO
2257 NO
2258 NO
2259 YES
2260 NO
2261 YES
2262 NO
2263 YES
2264 NO
2265 YES
2266 YES
2267 YES
2268 NO
2269 NO
2270 YES
2271 NO
2272 YES
2273 YES
2274 NO
2275 NO
2276 NO
2277 NO
2278 YES
2279 NO
2280 YES
2281 YES
2282 NO
2283 NO
2284 NO
2285 NO
2286 NO
2287 YES
2288 YES
2289 NO
2290 NO
2291 YES
2292 YES
2293 NO
2294 YES
2295 YES
2296 NO
2297 YES
2298 NO
2299 NO
2300 YES
2301 YES
2302 NO
2303 YES
2304 NO
2305 YES
2306 YES
2307 YES
2308 YES
2309 YES
2310 NO
2311 NO
2312 YES
2313 YES
2314 YES
2315 YES
2316 NO
2317 NO
2318 YES
2319 NO
2320 YES
2321 NO
2322 YES
2323 YES
2324 NO
2325 YES
2326 NO
2327 NO
2328 YES
2329 YES
2330 NO
2331 YES
2332 YES
2333 YES
2334 YES
2335 YES
2336 YES
2337 YES
2338 NO
2339 NO
2340 NO
2341 NO
2342 YES
2343 NO
2344 YES
2345 YES
2346 YES
2347 NO
2348 NO
2349 NO
2350 YES
2351 NO
2352 NO
2353 NO
2354 YES
2355 NO
2356 NO
2357 NO
2358 NO
2359 YES
2360 NO
2361 YES
2362 NO
2363 YES
2364 NO
2365 NO
2366 NO
2367 NO
2368 NO
2369 YES
2370 NO
2371 NO
2372 NO
2373 YES
2374 NO
2375 NO
2376 YES
2377 NO
2378 YES
2379 YES
2380 NO
2381 YES
2382 YES
2383 YES
2384 NO
2385 YES
2386 YES
2387 NO
2388 YES
2389 YES
2390 NO
2391 NO
2392 NO
2393 YES
2394 YES
2395 YES
2396 NO
2397 NO
2398 NO
2399 NO
2400 YES
2401 YES
2402 YES
2403 NO
2404 NO
2405 YES
2406 YES
2407 YES
2408 NO
2409 YES
2410 YES
2411 YES
2412 NO
2413 YES
2414 NO
2415 YES
2416 NO
2417 YES
2418 YES
2419 YES
2420 YES
2421 NO
2422 YES
2423 NO
2424 YES
2425 YES
2426 NO
2427 NO
2428 YES
2429 YES
2430 YES
2431 YES
2432 YES
2433 YES
2434 YES
2435 NO
2436 YES
2437 YES
2438 YES
2439 NO
2440 NO
2441 NO
2442 YES
2443 NO
2444 NO
2445 YES
2446 YES
2447 NO
2448 NO
2449 YES
2450 NO
2451 NO
2452 NO
2453 YES
2454 YES
2455 YES
2456 YES
2457 YES
2458 YES
2459 NO
2460 NO
2461 YES
2462 NO
2463 YES
2464 YES
2465 YES
2466 YES
2467 NO
2468 NO
2469 NO
2470 NO
2471 NO
2472 YES
2473 YES
2474 NO
2475 YES
2476 YES
2477 YES
2478 NO
2479 YES
2480 NO
2481 YES
2482 YES

In [161]:
df['is_smoking']

0       YES
1        NO
2        NO
3       YES
4       YES
       ...
3381     NO
3382     NO
3383    YES
3384     NO
3385     NO
Name: is_smoking, Length: 3386, dtype: object

In [164]:
# create new csv file containing diabetic persons only
df.drop(df[df['diabetes'] != 1].index, inplace = True)

In [171]:
df.to_csv('diabetes_only.csv', index=False)

In [176]:
df = pd.read_csv('cardiovascular_risk_data.csv')

In [177]:
df

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0,64,2.0,F,YES,3.0,0.0,0,0,0,221.0,148.0,85.0,NaN,90.0,80.0,1
1,1,36,4.0,M,NO,0.0,0.0,0,1,0,212.0,168.0,98.0,29.77,72.0,75.0,0
2,2,46,1.0,F,YES,10.0,0.0,0,0,0,250.0,116.0,71.0,20.35,88.0,94.0,0
3,3,50,1.0,M,YES,20.0,0.0,0,1,0,233.0,158.0,88.0,28.26,68.0,94.0,1
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0
3386,3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0
3387,3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1
3388,3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0
3389,3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0

In [182]:
# create new csv file containing female smokers only
df.drop(df[df['sex'] == 'M'].index, inplace = True)
df.drop(df[df['is_smoking'] == 'NO'].index, inplace = True)

In [183]:
df

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0,64,2.0,F,YES,3.0,0.0,0,0,0,221.0,148.0,85.0,NaN,90.0,80.0,1
2,2,46,1.0,F,YES,10.0,0.0,0,0,0,250.0,116.0,71.0,20.35,88.0,94.0,0
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0
8,8,41,2.0,F,YES,20.0,NaN,0,0,0,220.0,126.0,78.0,20.70,86.0,79.0,0
20,20,42,1.0,F,YES,20.0,0.0,0,1,0,199.0,141.0,92.0,43.69,80.0,60.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369,3369,44,1.0,F,YES,5.0,0.0,0,0,0,205.0,120.0,83.5,24.30,67.0,77.0,0
3370,3370,46,1.0,F,YES,30.0,0.0,0,0,0,219.0,107.0,69.0,21.40,66.0,NaN,0
3372,3372,43,2.0,F,YES,20.0,0.0,0,0,0,276.0,99.0,62.0,22.17,60.0,80.0,0
3378,3378,39,3.0,F,YES,NaN,0.0,0,0,0,197.0,126.5,76.5,19.71,55.0,63.0,0
3380,3380,56,1.0,F,YES,20.0,0.0,0,0,0,240.0,125.0,79.0,27.38,80.0,82.0,0

In [185]:
df.to_csv('female_smokers_data.csv', index=False)